{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Tipo</th>
                <th scope="col">Placa</th>
                <th scope="col">Valor</th>
                <th scope="col"></th>
            </tr>
        </thead>
            <tbody>
                {%for item in register_car%}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.type_car}}</td>
                    <td>{{item.plaque}}</td>
                    <td>{{item.value}}</td>
                    <td><a type="button" class="btn btn-warning" href="{% url 'update_car' id=item.id %}">Editar</a></td>
                    <td><a type="button" class="btn btn-danger" href="{% url 'delete_car' id=item.id %}">Deletar</a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock %}