{%extends 'base.html'%}

{%block content%}

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Carros</h1>
    </div>


    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if register_car %}/update_car/{{register_car.id}}/{%else%}/create/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{register_car_form.name}}</div>
            <div class="form-group mt-4">CNPJ: {{register_car_form.cnpj}}</div>
            <div class="form-group mt-4">E-Mail: {{register_car_form.mail}}</div>
            <div class="form-group mt-4">Endereço: {{register_car_form.address}}</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
    
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/register_car" class="btn btn-primary">Voltar</a>
    </div>



    <h1></h1>
{%endblock%}
