{%extends 'base.html'%}
{%block content%}
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Carros</h1>
    </div>
    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>
        <form method="post">
            {% csrf_token %}
            {{ form | linebreaks }}
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/registercar" class="btn btn-primary">Voltar</a>
    </div>
{%endblock%}